* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 62.5%;
    /*1rem = 10px*/
}

body {
    font-size: 1.6rem;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 300;
    color: #333;
    padding: 0 3rem;
}

.bg--container {
    background: url("https://images.unsplash.com/photo-1510353622758-62e3b63b5fb5?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    z-index: -999;
    filter: blur(10px);
}

.bg-lighter {
    width: 100%;
    height: 100%;
    background-color: rgba(355, 355, 355, 0.3);
}

.header {
    max-width: 108rem;
    margin: 0 auto;
    padding: 0rem 3rem;
    margin-top: 3rem;
}

h1 {
    font-size: 5rem;
    font-weight: 500;
    text-align: center;
}

form {
    max-width: 108rem;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 3rem 1.5rem;
    border: 1px solid #333;
}

form > * {
    display: block;
}

form > label {
    margin-top: 2rem;
    font-weight: 500;
}

form > label:first-child {
    margin-top: 0;
}

input,
textarea {
    margin-top: 1rem;
    padding: 1rem;
}

textarea {
    width: 100%;
    resize: vertical;
}

.btn {
    padding: 0.6rem 2rem;
    border: none;
    background-color: #333;
    color: #fff;
}

.twit--container {
    max-width: 108rem;
    margin: 0 auto;
    margin-top: 3rem;
    border: 1px solid #333;
}

.ckeck__btn--container {
    width: 100%;
    padding: 3rem 1.5rem 0rem 1.5rem;
}

.twitt__view--list {
    padding: 0rem 1.5rem 2rem 1.5rem;
}

.twitt__item {
    border-bottom: 1px solid #333;
    padding: 1.5rem 0;
}

.twitt__info {
    display: grid;
    grid-template-columns: 1fr auto auto;
    column-gap: 1rem;
}

#twitt__name {
    font-weight: 500;
}

#twitt__text {
    margin-top: 1rem;
}

.tag {
    color: teal;
}
